
.nav {
    grid-area: n;
    background: aqua;
    padding: 20px;

}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink{
    color: gold;
}


img{
    width: 25px;
}
.box{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin: 0;
    margin-bottom: 20px;
}